In [1]:
# 📦 Imports nécessaires
import pandas as pd

In [2]:
# 📂 Chargement des données
df = pd.read_csv("output/jobs_infos.csv")

In [3]:
# 🧼 Nettoyage basique des TJM
df["TJM_min"] = df["TJM"].str.extract(r'(\d+)\s*€')
df["TJM_max"] = df["TJM"].str.extract(r'(\d+)[^0-9]+(\d+)').iloc[:,1]
df["TJM_min"] = pd.to_numeric(df["TJM_min"], errors="coerce")
df["TJM_max"] = pd.to_numeric(df["TJM_max"], errors="coerce")
df["TJM_moyen"] = df[["TJM_min", "TJM_max"]].mean(axis=1)

# 🧼 Nettoyage des durées
df["DURATION_clean"] = df["DURATION"].str.extract(r'(\d+)').astype(float)

# 📊 Statistiques générales
print("📌 Nombre total d'offres :", len(df))
print("\n📌 TJM moyen (hors NaN) :", round(df["TJM_moyen"].mean(), 2), "€")

# 📌 Durée moyenne (en mois)
print("\n📌 Durée moyenne (en mois) :", round(df["DURATION_clean"].mean(), 2))

# 📌 Répartition par expérience
print("\n📌 Répartition des niveaux d'expérience :")
print(df["EXPERIENCE"].value_counts())

# 📌 Répartition géographique
print("\n📌 Répartition géographique :")
print(df["LOCATION"].value_counts())

# 📌 Aperçu des offres triées par TJM
print("\n📌 Top offres par TJM moyen :")
print(df[["TITLE", "TJM_moyen"]].sort_values(by="TJM_moyen", ascending=False))

# 📌 Missions sans TJM ou durée renseignée
print("\n📌 Offres sans TJM ou durée renseignée :")
print(df[df["TJM_moyen"].isna() | df["DURATION_clean"].isna()][["TITLE", "TJM", "DURATION"]])

📌 Nombre total d'offres : 64

📌 TJM moyen (hors NaN) : 471.89 €

📌 Durée moyenne (en mois) : 9.79

📌 Répartition des niveaux d'expérience :
EXPERIENCE
5 à 10 ans d’expérience    41
2 à 5 ans d’expérience     14
> 10 ans d’expérience       8
< 2 ans d’expérience        1
Name: count, dtype: int64

📌 Répartition géographique :
LOCATION
Paris, France                                  17
France                                          6
Paris, Île-de-France                            6
Saint-Herblain, Pays de la Loire                5
Lille, Hauts-de-France                          3
Toulouse, Occitanie                             3
Lyon, Auvergne-Rhône-Alpes                      3
Montpellier, Occitanie                          2
Provence-Alpes-Côte d'Azur, France              1
Bagneux, Île-de-France                          1
Grand Est, France                               1
Île-de-France, France                           1
Aix-en-Provence, Provence-Alpes-Côte d'Azur     1
Nice, Provence-Alpes-Côte d'Azur                1
Marignane, Provence-Alpes-Côte d'Azur           1
Strasbourg, Grand Est                           1
Rennes, Bretagne                                1
Bordeaux, Nouvelle-Aquitaine                    1
Suisse                                          1
Issy-les-Moulineaux, Île-de-France              1
Valmascle, Occitanie                            1
Montreuil, Île-de-France                        1
Toulouse, France                                1
Casablanca, Casablanca-Settat, Maroc            1
Barcelone, Catalogne, Espagne                   1
Maroc                                           1
Nantes, Pays de la Loire                        1
Name: count, dtype: int64

📌 Top offres par TJM moyen :
                                                TITLE  TJM_moyen
53                   CLOUD analyst - Azure AWS Finops      900.0
4   Lead Architect: Initiative and Team Leadership...      850.0
46  consultant fonctionnel D365 CRM/Sales (Lead an...      810.0
7                   Digital business Solution analyst      790.0
56                                  Keycloak auditeur      780.0
..                                                ...        ...
15                     DBA DE PRODUCTION ORACLE - H/F        NaN
23                          Développeur windev mobile        NaN
30         Un Administrateur pour la solution ERP VIF        NaN
48  Senior Salesforce Marketing Cloud Front-end De...        NaN
60                                 Consultant SAP ISH        NaN

[64 rows x 2 columns]

📌 Offres sans TJM ou durée renseignée :
                                                TITLE           TJM   DURATION
8                                 Engineering Manager           NaN        NaN
14  Senior integration Architect- Hybrid Integrati...           NaN    12 mois
15                     DBA DE PRODUCTION ORACLE - H/F           NaN        NaN
23                          Développeur windev mobile      46k €⁄an     3 mois
30         Un Administrateur pour la solution ERP VIF           NaN  149 jours
36  Développeur MS Dynamics Business Central - Rem...  45k-60k €⁄an        NaN
48  Senior Salesforce Marketing Cloud Front-end De...           NaN     6 mois
60                                 Consultant SAP ISH           NaN    5 jours

In [4]:
from collections import Counter
import re

# 🧼 Convertir tous les skills en minuscules, nettoyer les crochets et guillemets
skills_series = df["SKILLS"].dropna().str.lower()

# 🔍 Extraire tous les mots entre quotes avec regex
all_skills = []

for skills_str in skills_series:
    # On extrait tous les mots entre quotes simples : 'python', 'rust'...
    skills = re.findall(r"'([^']+)'", skills_str)
    all_skills.extend(skills)

# 🧮 Compter les occurrences
skill_counts = Counter(all_skills)

# 🔝 Afficher le top 10
print("💡 Compétences les plus demandées :")
for skill, count in skill_counts.most_common(10):
    print(f"{skill}: {count} fois")

💡 Compétences les plus demandées :
sap: 9 fois
python: 3 fois
java: 3 fois
cybersécurité: 3 fois
aws cloud: 2 fois
iam: 2 fois
pentesting: 2 fois
.net: 2 fois
devops: 2 fois
endpoint detection and response (edr): 2 fois

In [5]:
# 🔍 Définir le skill à chercher
skill = "javascript"

# 🧼 Nettoyer un peu le texte : on peut tout passer en minuscule pour éviter les problèmes de casse
df["SKILLS_str"] = df["SKILLS"].fillna("").str.lower()

# 🔍 Filtrer les lignes contenant le mot-clé (skill)
filtered = df[df["SKILLS_str"].str.contains(skill.lower())]

# 🖨️ Résultat
print(f"\n🎯 Offres contenant le skill '{skill}':")
print(filtered[["TITLE", "SKILLS", "LOCATION"]])

🎯 Offres contenant le skill 'javascript':
                                 TITLE  \
40  Développeur Salesforce Full-remote

                                      SKILLS       LOCATION
40  ['Javascript', 'Salesforce Sales Cloud']  Paris, France

In [7]:
# Extraire les entreprises uniques
companies = df["COMPANY"].dropna().unique()

# Afficher les entreprises
print(f"\n🏢 Entreprises proposant des missions FULL REMOTE:")
for company in companies:
    print(f"- {company}")

🏢 Entreprises proposant des missions FULL REMOTE:
- SAP-HIRE
- Amaris Consulting
- emagine Consulting SARL
- WorldWide People
- KUBE Partners S.L. / Pixie Services
- skiils
- ODHCOM - FREELANCEREPUBLIK
- BLOOMAYS
- HAYS France
- Editions ENI
- STHREE SAS pour COMPUTER FUTURES
- Link Consulting
- HOXTON PARTNERS
- MGI Consultants
- Tenth Revolution Group
- AGH CONSULTING
- PROPULSE IT
- Neotrust
- Signe +
- IBSI
- Espritek
- CELAD
- EASY PARTNER
- PROMAN EXPERTISE
- Almatek
- CITECH
- LeHibou
- K2 Partnering Solutions
- EBMC
- VoiceDigit
- AVA2I
- ISUPPLIER
- FF
- Cheops Technology
- CS Group Solutions
- Hanson Regan Limited
- Lawrence Harvey (LHI group limited)
- Innov and Co
- Archytas Conseil
- ASENIUM
- ALLEGIS GROUP
- RED Commerce - The Global SAP Solutions Provider
- SURICATE IT
- Montreal Associates